@page "/"
@page "/chart"

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-2">
    <MudGrid>
        <MudItem xs="9">
            <MudText Typo="Typo.h3" GutterBottom="true">Fondo: @ContractName</MudText>
            <MudText Typo="Typo.h6" GutterBottom="true">Id contratto: @ContractId</MudText>
        </MudItem>
        <MudItem xs="3">
            <InputFile id="fileInput" OnChange="UploadFile" hidden accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"></InputFile>
            <MudButton Class="d-flex align-center justify-center mud-width-full mt-3"
                       HtmlTag="label"
                       Variant="Variant.Filled"
                       Color="Color.Success"
                       StartIcon="@Icons.Filled.UploadFile"
                       for="fileInput">
                Upload excel
            </MudButton>
            @if (_dataDocumento != null)
            {
                <MudText>Data documento: @_dataDocumento</MudText>
            }
        </MudItem>
    </MudGrid>
    <MudCard Outlined="true">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">Valore attuale quota: @_ultimoValoreQuota - Valore medio quota: @_mediaValoreQuota</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            @if (_isFileLoaded)
            {
                <Chart Config="_chart1Config" Width="100" Height="40"></Chart>
            }
            else
            {
                <MudText Typo="Typo.h4" Align="Align.Center" GutterBottom="true">Nessun file caricato!</MudText>
            }
        </MudCardContent>
    </MudCard>
    <MudCard Outlined="true">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">
                    Totale investiti: @_totInvestiti - Risultato: <span style="color:@_coloreGuadagno;">@_guadagnoNetto (@_guadagnoPercentuale)</span>
                </MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            @if (_isFileLoaded)
            {
                <Chart Config="_chart2Config" Width="100" Height="40"></Chart>
            }
            else
            {
                <MudText Typo="Typo.h4" Align="Align.Center" GutterBottom="true">Nessun file caricato!</MudText>
            }
        </MudCardContent>
    </MudCard>
</MudContainer>